dronesense2cot.json
[
    {
        "id": "e35a2b959c18c49e",
        "type": "tab",
        "label": "DroneSense",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "73333ddfa6d17174",
        "type": "inject",
        "z": "e35a2b959c18c49e",
        "name": "Trigger",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "14",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 320,
        "wires": [
            [
                "82e3291b28896942"
            ]
        ]
    },
    {
        "id": "82e3291b28896942",
        "type": "function",
        "z": "e35a2b959c18c49e",
        "name": "Fetch DroneSense Devices",
        "func": "const config = {\n    DroneSenseToken: env.DroneSenseToken || \"xxx\", //YOUR API TOKEN HERE\n    DEBUG: env.DEBUG || false\n};\n\nconst DroneSenseLocationSchema = {\n    id: \"string\",\n    callSign: \"string\",\n    missionName: \"string\",\n    model: \"string\",\n    latitude: \"number\",\n    longitude: \"number\",\n    lastUpdate: \"number\",\n    altitudeAgl: \"number\",\n    altitudeMsl: \"number\",\n    speed: \"number\",\n    heading: \"number\",\n    spoiLat: \"number\",\n    spoiLng: \"number\",\n    sensors: [\n        {\n            id: \"string\",\n            name: \"string\",\n            video_url: \"string?\",\n            rtsp_url: \"string?\"\n        }\n    ]\n};\n\nasync function fetchDroneData() {\n    const url = \"https://external.dronesense.com/v1/drones/with-sensors\";\n\n    const res = await fetch(url, {\n        headers: { \"X-API-KEY\": config.DroneSenseToken }\n    });\n\n    if (!res.ok) {\n        throw new Error(`HTTP ${res.status}: ${await res.text()}`);\n    }\n\n    const data = await res.json();\n    if (config.DEBUG) node.warn(\"Raw DroneSense data: \" + JSON.stringify(data));\n    return data;\n}\n\nasync function main() {\n    const drones = await fetchDroneData();\n\n    const featureCollection = {\n        type: \"FeatureCollection\",\n        features: []\n    };\n\n    for (const drone of drones) {\n        // Skip invalid coordinates (0 is valid, but undefined/null is not)\n        if (!drone.id ||\n            drone.latitude == null ||\n            drone.longitude == null\n        ) continue;\n\n        const feature = {\n            id: drone.id,\n            type: \"Feature\",\n            geometry: {\n                type: \"Point\",\n                coordinates: [\n                    drone.longitude,\n                    drone.latitude,\n                    drone.altitudeAgl || 0\n                ]\n            },\n            properties: {\n                type: \"a-f-A-M-H-Q\",\n                callsign: drone.callSign,\n                speed: drone.speed,\n                course: drone.heading,\n                links: [],\n                metadata: drone\n            }\n        };\n\n        // Fastest possible lookup for first sensor with rtsp_url\n        const sensor = drone.sensors?.find(s => s.rtsp_url);\n        if (sensor) {\n            feature.properties.video = {\n                uid: drone.id,\n                sensor: `${drone.callSign}-camera`,\n                url: sensor.rtsp_url,\n                connection: {\n                    uid: drone.id,\n                    networkTimeout: 12000,\n                    path: \"\",\n                    protocol: \"raw\",\n                    bufferTime: -1,\n                    address: sensor.rtsp_url,\n                    port: -1,\n                    roverPort: -1,\n                    rtspReliable: 0,\n                    ignoreEmbeddedKLV: false,\n                    alias: drone.callSign\n                }\n            };\n\n            feature.properties.links.push({\n                uid: drone.id,\n                relation: \"r-u\",\n                type: \"text/html\",\n                url: sensor.video_url,\n                remarks: \"DroneSense Viewer\"\n            });\n        }\n\n        featureCollection.features.push(feature);\n    }\n\n    return featureCollection;\n}\n\nreturn main()\n    .then(res => ({ payload: res }))\n    .catch(err => {\n        node.error(\"Error fetching DroneSense data: \" + err.message);\n        return { payload: { error: err.message } };\n    });\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "fetch",
                "module": "node-fetch"
            }
        ],
        "x": 340,
        "y": 320,
        "wires": [
            [
                "1bbaadcc19c18ca5"
            ]
        ]
    },
    {
        "id": "ee7c35e79064fd45",
        "type": "debug",
        "z": "e35a2b959c18c49e",
        "name": "Show DroneSense JSON",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 260,
        "wires": []
    },
    {
        "id": "1bbaadcc19c18ca5",
        "type": "json",
        "z": "e35a2b959c18c49e",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": true,
        "x": 530,
        "y": 320,
        "wires": [
            [
                "ee7c35e79064fd45",
                "51bdd298d3c91447"
            ]
        ]
    },
    {
        "id": "3d19f26933ee9bf9",
        "type": "tcp out",
        "z": "e35a2b959c18c49e",
        "name": "DRONESENSE",
        "host": "yourtak.server.com",
        "port": "8059",
        "beserver": "client",
        "base64": false,
        "end": false,
        "tls": "199acac18fefabdf",
        "x": 1140,
        "y": 320,
        "wires": []
    },
    {
        "id": "cf3fa4036eb9c62a",
        "type": "tak",
        "z": "e35a2b959c18c49e",
        "name": "TAK",
        "x": 950,
        "y": 320,
        "wires": [
            [
                "3d19f26933ee9bf9"
            ],
            [],
            []
        ]
    },
    {
        "id": "51bdd298d3c91447",
        "type": "function",
        "z": "e35a2b959c18c49e",
        "name": "Loop DroneSense and Send",
        "func": "const dt = Date.now();\nconst dtD = new Date(dt).toISOString();\nconst dtD5 = new Date(dt + 5000).toISOString();  // 5 second stale time\n\nfunction sanitize(text) {\n    // 1 pass replace + trim, faster and fewer allocations\n    return (text || 'unknown')\n        .toString()\n        .trim()\n        .replace(/\\s+/g, '_')\n        .replace(/[^\\w\\-]/g, '')\n        .slice(0, 32);\n}\n\nconst agencyIcon = \"ad78aafb-83a6-4c07-b2b9-a897a8b6a38f/Shapes/drone.png\";\nconst Color = \"0\";\nconst iconsetpath = agencyIcon;\n\nconst features = msg.payload.features || [];\n\nfor (const feature of features) {\n    const geometry = feature.geometry;\n    const properties = feature.properties || {};\n\n    if (!geometry || geometry.type !== 'Point') continue;\n\n    const coords = geometry.coordinates;\n    if (!coords || coords.length < 2) continue;\n\n    const [lon, lat, altAglMeters = 0] = coords;\n\n    // Accept 0, reject null/undefined\n    if (lat == null || lon == null) continue;\n\n    // Convert meters → feet once\n    const altAgl = altAglMeters * 3.28084;\n\n    const meta = properties.metadata || {};\n\n    // Callsign cleanup\n    const rawCallsign = properties.callsign || meta.callSign || 'Unknown';\n    const lastNameOnly = rawCallsign.trim().split(/\\s+/).pop();\n    const callsign = 'Drone-' + sanitize(lastNameOnly);\n    const sanitizedCallsign = sanitize(callsign);\n\n    // Fast remarks builder\n    const remarksLines = [\n        `Latitude: ${lat.toFixed(6)}`,\n        `Longitude: ${lon.toFixed(6)}`,\n        `Altitude: ${altAgl.toFixed(0)} ft AGL`\n    ];\n\n    if (meta.model) remarksLines.push(`Model: ${meta.model}`);\n    if (meta.missionName) remarksLines.push(`Mission: ${meta.missionName}`);\n    if (properties.speed != null) remarksLines.push(`Speed: ${properties.speed}`);\n    if (properties.course != null) remarksLines.push(`Heading: ${properties.course}`);\n\n    const remarks = remarksLines.join('\\n');\n\n    // Find first sensor with video_url\n    let links;\n    const sensor = meta.sensors?.find(s => s.video_url);\n    if (sensor) {\n        links = {\n            _attributes: {\n                uid: sanitizedCallsign + '-video',\n                relation: \"r-u\",\n                type: \"text/html\",\n                url: sensor.video_url,\n                remarks: \"DroneSense Viewer\"\n            }\n        };\n    }\n\n    const newMsg = {\n        payload: {\n            event: {\n                _attributes: {\n                    version: \"2.0\",\n                    uid: \"drone-\" + sanitizedCallsign,\n                    type: \"a-f-A-M-H-Q\",\n                    how: \"m-g\",\n                    time: dtD,\n                    start: dtD,\n                    stale: dtD5\n                },\n                point: {\n                    _attributes: {\n                        lat,\n                        lon,\n                        hae: altAglMeters,\n                        ce: \"9999999.0\",\n                        le: \"9999999.0\"\n                    }\n                },\n                detail: {\n                    link: links,\n                    contact: {\n                        _attributes: {\n                            callsign: callsign\n                        }\n                    },\n                    usericon: {\n                        _attributes: {\n                            iconsetpath\n                        }\n                    },\n                    color: {\n                        _attributes: {\n                            argb: Color\n                        }\n                    },\n                    remarks\n                }\n            }\n        }\n    };\n\n    node.send(newMsg);\n}\n\nreturn null;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 320,
        "wires": [
            [
                "cf3fa4036eb9c62a"
            ]
        ]
    },
    {
        "id": "199acac18fefabdf",
        "type": "tls-config",
        "name": "DRONESENSE",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "504e2ccad5fe71a0",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-tak": "4.2.0"
        }
    }
]
